<section id="gradebooksection" class="gradebooksection">
    <h2>MY GRADEBOOK</h2>
    <ul class="gradebookboxes">
        <li>
            <a href="/styles">
                <div class="gradebookwrapper">
                    <img src="assets/imgs/My Bag_edited_4x3.jpg">
                    <p>BY STYLE</p>
                </div>
            </a>
        </li>
        <li>
            <a href="/sortby/Score">
                <div class="gradebookwrapper">
                    <img src="assets/imgs/100_4384_edited_4x3.jpg">
                    <p>BY GRADE</p>
                </div>
            </a>
        </li>        
        <li>
            <a href="/moods">
                <div class="gradebookwrapper">
                    <img src="assets/imgs/Trinity_Lonsdale-edit_4x3.jpg">
                    <p>BY MOOD</p>
                </div>
            </a>
        </li>        
        <li>
            <a href="#">
                <div class="gradebookwrapper">
                    <img src="assets/imgs/Dewitt map_edited_4x3.jpg">
                    <p>BY GEOGRAPHY</p>
                </div>
            </a>
        </li>        
        <li>
            <a href="/ciderhouses">
                <div class="gradebookwrapper">
                    <img src="assets/imgs/Pitt B_edited_4x3.jpg">
                    <p>BY CIDERHOUSE</p>
                </div>
            </a>
        </li>        
        <li>
            <a href="/sortby/Name">
                <div class="gradebookwrapper">
                    <img src="assets/imgs/Princeton Door_edited.jpg">
                    <p>BY NAME</p>
                </div>
            </a>
        </li>        
        <li>
            <a href="/sortby/Date_Tried">
                <div class="gradebookwrapper">
                    <img src="assets/imgs/Old Schools_edited_4x3.jpg">
                    <p>BY DATE</p>
                </div>
            </a>
        </li>        
        <li>
            <a href="/complits">
                <div class="gradebookwrapper">
                    <img src="assets/imgs/Vinetum Britannicum Cam_edited_4x3.jpg">
                    <p>COMPARATIVE LIT ESSAYS</p>
                </div>
            </a>
        </li>
    </ul>
</section>