<section id="gradebooksection" class="gradebooksection">
    <h2>MY GRADEBOOK</h2>
    <ul class="gradebookboxes">
        <li>
            <a href="/styles">
                <div class="gradebookwrapper">
                    <img src="https://bn1303files.storage.live.com/y4m-pWZ9nO8_TBhKw3cSsJ1T9siyklHNyVx1zwcjl8IDcKR-8FddZA6FNp7_LbHH6a2GyhoUNdIzj-x_VmGvYUH5YCN0_zfiseZsDCLFCHLEegw2uWb3GJ0v9erbJRYem_Hg8NA8PSq8ui9kD3GDQNZokmB4SB5gC5ygh7fu2mZsEpr4DzzHKoqF178Arm0ib0N?width=5973&height=4480&cropmode=none">
                    <p>BY STYLE</p>
                </div>
            </a>
        </li>
        <li>
            <a href="/sortby/Score">
                <div class="gradebookwrapper">
                    <img src="https://bn1303files.storage.live.com/y4mVNYTXmny_oxgMm4NuKkjZTX-7ej4SN86_HP2wpG4Jtj1bx1d5hBv5wjXaHRd34aHxtdJksIkV-JYPc9YW4pgCEIw44ID_Gy2-4aKV19omWiA9_umShmfrhykQxR8TYgLyqLMz4tSfX9UCROJ-DhCrh_ubHMLLyvKUA0LRNQuNi1Cw90maSs5pSAKqugY2V59?width=2799&height=2099&cropmode=none">
                    <p>BY GRADE</p>
                </div>
            </a>
        </li>        
        <li>
            <a href="/moods">
                <div class="gradebookwrapper">
                    <img src="https://bn1303files.storage.live.com/y4mfiBLHGCzYyFwYT6hhydqy3nJjUglezJwOd_qlXZDtfHJ0PG4CV5KHcNnRCBzex4Y-dRNIlplfHenemfvJsLXGRxRmxWtz_A_xchfeEYBDgcl6vspQv89HOmBsdsIAxDBizTRRGvUPE8iHsALzOytCuu608nyu6PhohgTo_Dtzzgb2n21b0hKXUg7yrw-jCIg?width=3456&height=2592&cropmode=none">
                    <p>BY MOOD</p>
                </div>
            </a>
        </li>        
        <li>
            <a href="/geography">
                <div class="gradebookwrapper">
                    <img src="https://bn1303files.storage.live.com/y4mSWWp6IKoMlW_LP_qzxHWyRz7XzVk1LnPYocfmej-TYSpXEtEhqrsCunlWy3MMAkg1Xym0_whSGfZwAhdZantjvxsMRgeILu04SG7tniS0rsrYatfn9NZyxdAOufWcbtLu6vohs9mf2FZXy9_Q-CBA3nOi06k-9qXhh3bviaF-no8-zuaKEDIwKfdvUpk657f?width=3752&height=2810&cropmode=none">
                    <p>BY GEOGRAPHY</p>
                </div>
            </a>
        </li>        
        <li>
            <a href="/ciderhouses">
                <div class="gradebookwrapper">
                    <img src="https://bn1303files.storage.live.com/y4mIktea6QSaiVSgnvOGDzIzHyqLEPTNqjSxTlMdXQ0t7rGY9IH0bSRtkaoqLiifpNLf5N82P876JWZ9PbG4eg54Q1r-xqPt0El1CU0o3swsD9rvsYQKMI9et4HDj6Zi9qROGBJzfDXAyVbw397JGgc3g2ZVsut5qbqMVjFerX_ccTXcw-udDDdu98kQVF0mvmY?width=2128&height=1598&cropmode=none">
                    <p>BY CIDERHOUSE</p>
                </div>
            </a>
        </li>        
        <li>
            <a href="/sortby/Name">
                <div class="gradebookwrapper">
                    <img src="https://bn1303files.storage.live.com/y4mUOxubnHSUYbzmdkWDgx7GmIfBd2TTgs3zHw8WTTIeuDsjXnqfB77Wq7ryu-yH4yROb7z0N0rt_OubxE79cnTdRsOEZslBmHSJObWNe94aalWwEZ2gwYLIrHyCrxLUytiSnYGqXnm6_s9JM0FXUeTjkGg4Yfzfl6l_b328Wm1STZluNk2AYAa5XwOsfSSBmux?width=3024&height=2268&cropmode=none">
                    <p>BY NAME</p>
                </div>
            </a>
        </li>        
        <li>
            <a href="/sortby/Date_Tried">
                <div class="gradebookwrapper">
                    <img src="https://bn1303files.storage.live.com/y4maMsWlxz01uDuBVHv1ZJnkJI7TJFnilS5tbcNfsdNUXGUyd7XEisftLrf22fI7DLHA-JTW0QKHII5mA_7TMPa471kePmBCJ5oMb1cLcAXra5EMuSf5dags6BL_-VIavgibd46xV4hammPKVd_yN5I9C79lUtQ0-u7wi3EM25O9MRF94_KmetQop8A1xpr9s36?width=3459&height=2592&cropmode=none">
                    <p>BY DATE</p>
                </div>
            </a>
        </li>        
        <li>
            <a href="/complits">
                <div class="gradebookwrapper">
                    <img src="https://bn1303files.storage.live.com/y4mKzaYoj5Uy0XKc58YxERHbCXzszJjkpT65aoODVo0rBhL6QlfDL1A78b3FvcMOBThShpkKZcQdnDGAO_oeyHVPBioXZbJyq4eceYff_9HYM0UQ8gpyvCJsrKjrRB1FQN-HXXCuroRa4IDXggE4sk9Itj6vjaFs3o2Ce4kliQRC4SeVSEul3kePgoIt0kyZuOl?width=3447&height=2586&cropmode=none">
                    <p>COMPARATIVE LIT ESSAYS</p>
                </div>
            </a>
        </li>
    </ul>
</section>