<footer>
    <ul id="footer">
        <li>&copy; 2020 The Cider Professor</li>
        <li>Contact</li>
        <li><a href="https://www.instagram.com/ciderprofessor/" target="_blank"><img src="instagram.png" style="height: 1.75em;"></a></li>
        <li><a href="/about">About</a></li>
    </ul>
</footer>