<footer>
    <ul id="footer">
        <li>&copy; 2021 The Cider Professor</li>
        <li>Contact</li>
        <li>
            <ul class="contact-list">
                <li><a href="https://www.instagram.com/ciderprofessor/" target="_blank"><img class="instalogo" src="../assets/imgs/instagram.svg"></a></li>
                <li><a href ="mailto:theciderprofessor@gmail.com?subject=Sent from ciderprofessor.com"><img class="emailogo" src="../assets/imgs/mail.svg" style="color: #F1C400;"></a></li>
            </ul>
        </li>
        <li><a href="/about">About</a></li>
        <li></li>
    </ul>
</footer>