<footer>
    <ul>
        <li><a href="/about">About</a></li>
        <li>Contact us</li>
        <li>&copy; 2020 The Cider Professor</li>
        <li>Extra</li>
        <li>Extra extra</li>
    </ul>
</footer>