<footer>
    <ul>
        <li><a href="/about">About</a></li>
        <li>Contact</li>
        <li>&copy; 2020 The Cider Professor</li>
        <li><a href="https://www.instagram.com/ciderprofessor/"><img src="instagram.png" style="height: 1.75em;"></a></li>
        <li>Facebook</li>
    </ul>
</footer>