@font-face {
    font-family: 'AgencyFB-BoldCondensed';
    src: url('assets/fonts/AgencyFB/AgencyFB-BoldCondensed.otf');
}
@font-face {
    font-family: 'AgencyFB-Light';
    src: url('assets/fonts/AgencyFB/AgencyFB-Light.otf');
}
@font-face {
    font-family: 'AgencyFB-Regular';
    src: url('assets/fonts/AgencyFB/AgencyFB-Regular.otf');
}
@font-face {
    font-family: 'AgencyFB-Black';
    src: url('assets/fonts/AgencyFB/AgencyFB-Black.otf');
}
@font-face {
    font-family: 'RomanAntique';
    src: url('assets/fonts/roman_antique/RomanAntique.ttf');
}


/* * {
    border: pink solid 1px;
} */

.hide {
    display: none;
}

body {
    width: 100%;
    /* height: 100vh; */
}

a {
    text-decoration: none;
}
/* a:hover {
    text-decoration: underline;
} */
a:visited {
    text-decoration: none;
    color: #F1C400;
}



/* HEADER */
header {
    width: 100%;
    height: 33vh;
    position: relative;
    margin-top: 8.5vh;
}
.hero-overlay {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    text-transform: uppercase;
    font-family: 'RomanAntique';
}
.hero-overlay h1 {
    width: 100%;
    background: linear-gradient( rgba(0, 43, 73, 1), rgba(0, 43, 73, .8), rgba(0, 43, 73, 0));
    color: #F1C400;
    font-size: 1em;
    line-height: 5.5vh;
}
.hero-overlay h2 {
    width: 100%;
    height: 5.5vh;
    position: absolute;
    bottom: 0;
    background-color: #002b49;
    color: #F1C400;
    font-size: .8em;
    line-height: 5.5vh;
}

.hero-img {
    display: block;
    position: fixed;
    top: 7vh;
    margin:  auto;
    z-index: -1;
    width: 100vw;
    height: auto;
}

/* NAV BAR */
nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 8.5vh;
    background-color: #002b49;
    z-index: 3;
}

.menu-icon-wrapper {
    width: 55px;
    height: 8.5vh;
    /* background-image: url('./assets/imgs/menu.svg');
    background-repeat: no-repeat;
    background-size: cover; */
}

.menu-icon {
    width: 7vh;
    height: 7vh;
    margin: 7px 15px 0 15px;
    /* margin-left: 15px; */
}

.app-icon-wrapper {
    width: 8.5vh;
    height: 8.5vh;
    position: fixed;
    top: 0px;
    left: calc(50% - 4vh);
}
.app-icon {
    width: 8.5vh;
    height: 8.5vh;
}

.nav-list {
    width: 75%;
    height: fit-content;
    max-height: calc(100vh - 40px);
    background-color: #D6D2C4;
    color: #002b49;
    font-family: 'AgencyFB-BoldCondensed';
    font-size: 1.5em;
    overflow: scroll;
    border-radius: 0 10px 10px 0;
}

.nav-item, .nav-item li {
    font-size: 38px;
    line-height: 50px;
    border: #CCE2EE 3px solid;
    border-radius: 15px;
    padding: 5px;
    margin: 5px;
}

.nav-item :any-link {
    color: #002b49;
}

.nav-item ul {
    margin-left: 3vw;
    overflow: scroll;
}
/* 
.nav-item li {
    border: 3px #CCE2EE solid;
} */

/* MAIN PAGE */

#gradebooksection {
    width: 100%;
}

.gradebooksection h2 {
    width: 100%;
    font-size: 1.2em;
    line-height: 2.1em;
    background-color: #002b49;
    color: #F1C400;
    text-transform: uppercase;
    font-family: 'RomanAntique';
    text-align: center;
}

.gradebookboxes {
    width: 100vw;
    padding: 1vh 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #002b49;
}

.gradebookboxes li {
    min-width: 85vw;
    min-height: 75vw;
    margin: 10px;
    background-color: #002b49;
    border-radius: 10px;
}

.gradebookboxes li:last-child {
    margin-bottom: 20px;
}

.gradebookwrapper {
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    color: #F1C400;
    
}
.gradebookwrapper img{
    width: 85vw;
    height: 65vw;
    opacity: 50%;
    border-radius: 10px;
}
.gradebookwrapper p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5em;
    font-family: 'AgencyFB-Black';
}


/* LISTOFCIDER.ejs */
#ciderlistsection {
    padding-top: 55px;
}
#ciderlistsection:nth-child(2){
    margin-top: 49px;
}

.listheader, .listofciders {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-align: right;
    margin: 0;
    padding: 4px 0;
    font-family: 'AgencyFB-Regular';
    background-color: #F1F1F1;
    border-bottom: solid 1px #EDAB00;
}
.listheader {
    position: fixed;
    top: 55px;
    background-color: #F1F1F1;
    font-family: 'AgencyFB-BoldCondensed';

}
/* *********ALTERNATING COLOR PER CIDER************ */

.listofciders {
    background-color: #cce2ee;
    border-bottom: solid 1px #fff;
}
.listofciders:nth-child(odd) {
    background-color: #d6d2c4;
}

.itemimg {
    min-width: 60px;
}
.listimg {
    max-width: 60px;
    max-height: 60px;
    padding-right: 2px;
}
.itemname{
    width: 5em;
    border-left: 1px solid #EDAB00;
}
.itemciderhouse{
    width: 6em;
    text-align: center;
}
.itemlocation{
    width: 7em;
    white-space: nowrap;
    overflow: hidden;
    text-align: right;
    text-overflow: ellipsis;
}
.itemgrade{
    width: 2.5em;
    border-left: 1px solid #EDAB00;
    text-align: left;
}
.itemabv{
    width: 2em;

}

/* CIDERDETAIL.ejs */

.cider-detail-topsection {
    padding-top: 55px;
    background-color: #002b49;
}

.cider-detail-topinfo {
    padding: 10px 0;
    font-family: 'AgencyFB-BoldCondensed';
    color: #F1C400;
}
.glassimage {
    width: 100%;
    height: auto;
}
.cider-detail-topinfo h2 {
    font-size: 2em;
    padding-left: 15px;
}
.cider-detail-topinfo p {
    font-size: 1.3em;
    padding-left: 15px;
}
.cider-detail-midinfo {
    background-color: #CCE2EE;
    color: #002b49;
    font-family: 'AgencyFB-BoldCondensed';
    font-size: 1.3em;
    padding-left: 10px;
}
.cider-detail-midinfo li{
    padding: 10px 0;
}
.cider-detail-feedback {
    padding: 10px 0;
    background-color: #002b49;
    /* padding-left: 15px; */
    font-family: 'AgencyFB-BoldCondensed';
    color: #F1C400;
}
.cider-detail-feedback h3 {
    padding: 5px 0;
    text-align: center;
    font-size: 2em;

}
.cider-detail-feedback p {
    font-size: 1.3em;
    padding: 10px 15px;
    font-family: 'RomanAntique';
}
.cider-detail-description {
    padding: 15px 0;
    background-color: #D6D2C4;
    color: #002b49;
    font-family: 'AgencyFB-BoldCondensed';
    width: 100%;
    text-align: center;
}
.cider-detail-description h3 {
    font-size: 2em;
}
.cider-detail-description p {
    padding: 5px 0;
    font-size: 1.3em;
}
.cider-detail-description img{
    width: 55%;
    height: auto;
    margin: 0 auto;
}


/* GRADEBOOK PAGES */

.gradebook-page-header {
    margin-top: 4vh;
    width: 100%;
    height: 15vh;
    background-color: #002b49;
    background-size: cover;
    background-position: center;
}

.gradebook-page-header h1{
    font-size: 2em;
    height: 15vh;
    line-height: 15vh;
    text-align: right;
    font-family: 'RomanAntique';
    color: #F1C400;
    padding-right: 5vw;
    background-color: rgba(0, 43, 73, .4);
}

.gradebook-page-list {
    background-color: #D6D2C4;
    font-family: 'AgencyFB-BoldCondensed';
    font-size: 1.5em;
    padding: 10px 0 10px 8vw;
    min-height: calc(71vh - 11vh);
}
.gradebook-page-list :any-link{
    color: #002b49;
}
.gradebook-page-list li {
    padding-top: 5px;
    padding-left: 13px;
}

.gradebook-page-blurb {
    background-color: #002b49;
    color: #F1C400;
    font-family: 'AgencyFB-BoldCondensed';
    font-size: 1.5em;
    padding: 15px 5vw;
}

.blurb-link a:link, .blurb-link a:visited {
    color: #F1C400;
}

.title {
    color: black;
    font-size: 1.3em;
    padding: 5px 2px;
}

.listItem {
    color: black;
    margin-left: 15px;
    padding: 5px 0;
    font-size: 24px;
}

/* STYLE.ejs*/
.by-style {
    background-image: url('https://bn1303files.storage.live.com/y4m-pWZ9nO8_TBhKw3cSsJ1T9siyklHNyVx1zwcjl8IDcKR-8FddZA6FNp7_LbHH6a2GyhoUNdIzj-x_VmGvYUH5YCN0_zfiseZsDCLFCHLEegw2uWb3GJ0v9erbJRYem_Hg8NA8PSq8ui9kD3GDQNZokmB4SB5gC5ygh7fu2mZsEpr4DzzHKoqF178Arm0ib0N?width=5973&height=4480&cropmode=none');
}
/* GRADES.ejs */
.by-grade {
    background-image: url('https://bn1303files.storage.live.com/y4mVNYTXmny_oxgMm4NuKkjZTX-7ej4SN86_HP2wpG4Jtj1bx1d5hBv5wjXaHRd34aHxtdJksIkV-JYPc9YW4pgCEIw44ID_Gy2-4aKV19omWiA9_umShmfrhykQxR8TYgLyqLMz4tSfX9UCROJ-DhCrh_ubHMLLyvKUA0LRNQuNi1Cw90maSs5pSAKqugY2V59?width=2799&height=2099&cropmode=none');
}
/* MOODS.ejs */
.by-mood {
    background-image: url('https://bn1303files.storage.live.com/y4mfiBLHGCzYyFwYT6hhydqy3nJjUglezJwOd_qlXZDtfHJ0PG4CV5KHcNnRCBzex4Y-dRNIlplfHenemfvJsLXGRxRmxWtz_A_xchfeEYBDgcl6vspQv89HOmBsdsIAxDBizTRRGvUPE8iHsALzOytCuu608nyu6PhohgTo_Dtzzgb2n21b0hKXUg7yrw-jCIg?width=3456&height=2592&cropmode=none');
}
/* ALLHOUSES.ejs */
.by-ciderhouse {
    background-image: url('https://bn1303files.storage.live.com/y4mIktea6QSaiVSgnvOGDzIzHyqLEPTNqjSxTlMdXQ0t7rGY9IH0bSRtkaoqLiifpNLf5N82P876JWZ9PbG4eg54Q1r-xqPt0El1CU0o3swsD9rvsYQKMI9et4HDj6Zi9qROGBJzfDXAyVbw397JGgc3g2ZVsut5qbqMVjFerX_ccTXcw-udDDdu98kQVF0mvmY?width=2128&height=1598&cropmode=none');
}
/* COMPLITS.ejs */
.complits {
    background-image: url('https://bn1303files.storage.live.com/y4mKzaYoj5Uy0XKc58YxERHbCXzszJjkpT65aoODVo0rBhL6QlfDL1A78b3FvcMOBThShpkKZcQdnDGAO_oeyHVPBioXZbJyq4eceYff_9HYM0UQ8gpyvCJsrKjrRB1FQN-HXXCuroRa4IDXggE4sk9Itj6vjaFs3o2Ce4kliQRC4SeVSEul3kePgoIt0kyZuOl?width=3447&height=2586&cropmode=none');
}
.complits h1, .by-ciderhouse h1 {
    font-size: 1.7em;
    line-height: 3.5em;
}

/* ABOUT.ejs */
.about-prof {
    background-image: url('https://bn1303files.storage.live.com/y4mPSstfDkvqX2K3tuIm-ecWa_cXei08YsutAbdOwf4CVfMGo7Qb-9FR76alK0anLmGlDlTxkSaYajNjLOOIwB-zEcesAXOi-M_67zwm4MWJgEM5kGMjNXlNFgIco32mcMRp5sVdiyNoiwR5-YhmwOUucCFh5CW6Mq-JSTyxETN4fJ_NjzUDFkyvTPATLbeiQDp?width=2726&height=1963&cropmode=none');
}
/* Philosophy.ejs */
.my-philosophy {
    background-image: url('https://bn1303files.storage.live.com/y4meUsBikMtWCw1DE_xSSsUv2VJJ6Lm_EYzyCy6vAUq2GL_nZ0fVN9AE9cz4I1xEs0sVVJNqNN-IvV3SEWYVSIJynsfIsMu9TTJ9fuzeRwtx71EPVNESoWu1XxE44gd5TrBruBZMJ5ddSJT0vA3prSBxZrOaHrElPv3D5n7KW1UkPPBN8uNt7xMnecMKyeQ7q9b?width=1055&height=694&cropmode=none');
    background-position: top;
}


/* PHILOSOPHY */
.philosophy-blurb {
    padding: 78px 5vw 70px 5vw;
    background-color: #002b49;
    color: #F1C400;
    font-family: 'AgencyFB-BoldCondensed';
    font-size: 1.5em;
}
.grading-scale {
    background-color: #D6D2C4;
    color: #EDAB00;
    font-family: 'AgencyFB-BoldCondensed';
    font-size: 1.8em;
}
.grading-scale h4 {
    width: 100%;
    padding: 5px 0;
    text-align: center;
    font-size: 1.8em;    
}
.grading-scale-list {
    color: #002b49;
    padding: 0 20px;
}
.grading-scale-list li {
    padding: 5px 0;
}
.grading-scale-list span {
    color: #EDAB00;
}

/* COMPLITESSAY.ejs */
.complit-header {
    padding-top: 55px;
    padding-bottom: 2vh;
    width: 100%;
    height: fit-content;
    background-color: #002b49;
    font-family: 'AgencyFB-BoldCondensed';
}
.complit-header h1 {
    width: 100%;
    font-size: 2em;
    line-height: 2em;
    text-align: center;
    color: #F1C400;
}
.complit-ciders-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.5em;
    height: fit-content;
    color: #CCE2EE;
}
.complit-ciders-list li {
    height: fit-content;
    text-align: center;
}
.winner {
    color: #F1C400;
}
.complit-essay {
    background-color: #002b49;
    color: #F1C400;
    padding-bottom: 10px;
}
.complit-image {
    width: 100vw;
    height: 40vh;
}
.complit-essay h3, .complit-info-section h3{
    width: 100%;
    padding: 5px 0;
    font-family: 'AgencyFB-BoldCondensed';
    font-size: 2em;
    text-align: center;
}
.complit-essay p {
    font-family: 'RomanAntique';
    padding: 5px 10px;
}
.complit-info-section {
    padding-top: 10px;
    background-color: #D6D2C4;
    color: #002b49;
    font-family: 'AgencyFB-BoldCondensed';

}
.complit-info-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.complit-info-list li {
    width: 30%;
    padding: 5px 0;
}
.complit-info-section h3{ 
    color: #F1C400;
    margin-top: 20px;
}
.complit-info-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 5px;
    padding-bottom: 10px;
}
.complit-info-links li {
    width: 30%;
    font-family: 'RomanAntique';
}
.complit-info-links :any-link {
    color: #002b49;
}

/* ABOUT.ejs */
.about-prof-blurb :any-link{
    color: #CCE2EE;
}
.about-prof-blurb p {
    padding: 10px 0;
}
.about-links {
    padding: 15px 0;
    background-color: #CCE2EE;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}   
.aca-logo img{
    width: 150px;
    height: auto;
}
.ccp-logo img{
    width: 50px;
    height: auto;
}
.website-credit {
    display: flex;
    justify-content: center;
    padding-right: 10px;
    padding-bottom: 15px;
    background-color: #CCE2EE;
    color: #F1C400;
    font-family: 'AgencyFB-Light';
}
.website-credit:visited {
    text-decoration: none;
    color: #F1C400;
}
.gdlogo {
    padding-left: 10px;
    width: 20px;
    height: 20px;
}

/* FOOTER */

footer {
    width: 100%;
}
#footer {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #002b49;
    padding: 0;
    padding-top: 15px;
    height: 10vh;
}

#footer li {
    text-align: center;
    margin: 0 5% 0 5%;
    color: #F1C400;
    font-family: 'RomanAntique';
    padding-bottom: 5px;
}
#footer li a:link, #footer li a:visited {
    color: #F1C400;
}

.instalogo, .emailogo {
    padding-top: 5px;
    width: 30px;
    height: 30px;
}

.contact-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    font-size: 30px;
}



@media screen and (min-width: 500px) and (min-height: 500px) {
    .gradebooksection {
        /* background-color: white; */
        background-color: #F1F1F1;
        width: 100vw;
    }
    .gradebooksection h2{
        background-color: #F1F1F1;
        color: #002b49;
        font-family: 'AgencyFB-Black';
        font-size: 2.2em;
    }
    .gradebookboxes {
        background-color: #F1F1F1;
        width: 100vw;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .gradebookboxes li {
        max-width: 21vw;
    }
    .gradebookboxes li:nth-last-child(2) {
        margin-bottom: 20px;
    }
    .gradebookwrapper img{
        width: 98vw;
        max-width: 350px;
    }
    
    .complits h1 {
        font-size: 2em;
        line-height: 15vh;
    }
    .listheader {
        height: 40px;
    }
    .listheader li {
        line-height: 40px;
    }
}

@media screen and (min-width: 780px) and (min-height: 500px) {
    /* HEADER */ 
    header {
        width: 100%;
        height: calc(72vw - 2em);
        /* height: 74vw; */
        position: relative;
        /* margin-top: 60px; */
    }

    .hero-overlay {
        top: 0px;
    }
    
    .hero-img {
        position: fixed;
        top: 60px;
    }
    .hero-overlay h1 {
        height: 2.5em;
        font-size: 2em;
        line-height: 2.5em;
        /* padding-top: 20px; */
    }

    .hero-overlay h2 {
        height: 2em;
        font-size: 1.8em;
        line-height: 2em;
    }

        /* NAV BAR */
    #cideries {
        display: none;
    }

    .menu-icon-wrapper{
        display: none;
    }

    ul {
        list-style: none;
    }

    nav {
        height: 55px;
    }


    .nav-list {
        display: flex;
        justify-content: space-evenly;
        background-color: #002b49;
        width: 100%;
        color: #F1C400;
        font-size: 1.5em;
        line-height: 3em;
        height: 3em;
        overflow: hidden;
        padding: 0;
        margin: 0;
    }
    .nav-item :any-link {
        color: #F1C400;
    }

    .nav-item {
        border: none;
        text-align: center;
        width: 22%;
    }
    
    .nav-item li {
        text-align: left;
        background-color: #d6d2c4;
        color: #002b49;
    }

    #gradebook:hover {
        cursor: pointer;
    }

    #app-icon-placeholder {
        width: 80px;
    }

    .app-icon-wrapper {
        top: 0px;
        left: calc(50% - 40px);
    }

    .app-icon {
        width: 80px;
        height: 80px;
    }

    /* NAV-DROPDOWNS */
    .gradebook {
        position: fixed;
        top: 2em;
        width: fit-content;
        height: fit-content;
        max-height: 60vh;
        overflow: scroll;
        margin: 0px;
        border-radius: 0 15px 15px 5px;
        filter: drop-shadow(7px 7px 3px #52504a);

        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    .gradebook::-webkit-scrollbar {
        display: none;
    }
    .gradebook a:any-link {
        color: #002b49;
    }
    .gradebook li {
        padding: 0 10px;
    }
    #style {
        height: fit-content;
        overflow: hidden;
    }
    #style ul {
        overflow: hidden;
        width: fit-content;
    }
    #mood {
        height: fit-content;
        overflow: hidden;
    }
    #mood ul {
        height: fit-content;
        overflow: hidden;
    }
    #geography {
        height: fit-content;
        overflow: hidden;
    }
    #geography ul {
        height: fit-content;
        overflow: hidden;
    }

    #complit:hover {
        cursor: pointer;
    }
    .complit {
        position: fixed;
        top: 2em;
        width: fit-content;
        height: fit-content;
        max-height: 60vh;
        overflow: scroll;
        margin: 0px;
        border-radius: 0 15px 15px 5px;
        filter: drop-shadow(7px 7px 3px #52504a);

        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    .complit::-webkit-scrollbar {
        display: none;
    }
    .complit a:any-link {
        color: #002b49;
    }
    .complit li {
        padding: 0 10px;
    }
    #litstyle {
        height: fit-content;
        overflow: hidden;
    }
    #litstyle ul {
        overflow: hidden;
        width: fit-content;
    }
    #theme {
        height: fit-content;
        overflow: hidden;
    }
    #cidreviews:hover {
        cursor: pointer;
    }
    .cidreviews {
        position: fixed;
        top: 2em;
        right: 4%;
        width: fit-content;
        height: fit-content;
        max-height: 60vh;
        overflow: scroll;
        margin-left: 0;
        border-radius: 0 15px 15px 5px;
        filter: drop-shadow(7px 7px 3px #52504a);

        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    .cidreviews::-webkit-scrollbar {
        display: none;
    }
    .cidreviews a:any-link {
        color: #002b49;
    }
    .cidreviews li {
        padding: 0 10px;
    }
    #crgeography ul{
        height: fit-content;
        overflow: hidden;
    }

    .gradebooksection {
        max-width: 100vw;
    }
    .gradebookboxes {
        width: 100vw;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .gradebookboxes li {
        max-width: 21vw;
    }
    .gradebookboxes li:nth-last-child(2) {
        margin-bottom: 20px;
    }



    #ciderlistsection {
        margin-top: calc(78px + 1.5em);
        /* 77px is from the footer */
        min-height: calc(100vh - 11vh);  
        padding-top: 0;
    }

    .listheader {
        position: fixed;
        top: 65px;
        height: 1.5em;
        font-size: 1.3em;
        line-height: 1.5em;
        border-bottom: solid 1px #EDAB00;
    }
    .listheader li {
        border: none;
        
    }
    /* #ciderlistsection:nth-child(2) {
        padding-top: 1.5em;
    } */
    .itemname{
        text-align: left;
        padding-left: 5px;
    }
/* CIDERDETAIL.js     */

    .cider-detail-topsection {
        height: 50vw;
        padding-bottom: 5px;
    }
    .glassimage {
        width: 33vw;
        height: 46vw;
        float: left;
    }
    .cider-detail-topinfo {
        height: 22vw;
        text-align: left;
    }
    .cider-detail-topinfo li{
        padding-top: 30px;
        padding-left: 35vw;
    }
    .cider-detail-topinfo h2 {
        font-size: 2.5em;
    }
    .cider-detail-midinfo{
        height: 22vw;
        text-align: left;
    }
    .cider-detail-midinfo li {
        padding-left: 35vw;
    }
    .cider-detail-description {
        height: fit-content;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        text-align: left;
    }
    .cider-detail-description img {
        margin: 0;
        padding-right: 15px;
        width: 20vw;
    }
    .cider-detail-description div {
        padding-right: 100px;
        max-width: 60vw;
    }
    .cider-detail-description h3 {
        font-size: 2.5em;
    }

    /* COMPLITESSAY.ejs */
    .complit-header {
        padding-top: 65px;
    }
    .complit-header h1 {
        font-size: 55px;
        line-height: 13vh;
        height: 13vh;
    }
    .complit-ciders-list, .complit-info-list{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        text-align: center;
    }
    .complit-image {
        width: 100%;
        /* max-width: 1020px; */
        height: auto;
        margin: 0 auto;
    }

    .complit-essay {
        font-size: 1.3em;
        padding: 5px 15px;
    }
    .complit-essay h3, .complit-info-section h3{
        font-size: 50px;
        line-height: 65px;
        height: 65px;
        margin-top: 10px;
    }
    .complit-info-section {
        font-size: 1.5em;
    }
    .complit-info-links li{
        width: 50%;
        text-align: center;
        padding: 10px 0;
    }

}


@media screen and (min-width: 1080px) {

    /* .hero-overlay {
        position: absolute;
        z-index: 0;
        width: 100%;
        height: 98%;
        text-align: center;
        text-transform: uppercase;
        font-family: 'RomanAntique';
    } */
    /* .hero-overlay h2 {
        width: 100%;
        position: absolute;
        bottom: 0;
        background-color: #002b49;
        color: #F1C400;
        font-size: 2em;
        line-height: 2.5em;
    } */

    #app-icon-placeholder {
        /* width: 80px; */
        display: none;
    }

    .app-icon-wrapper {
        top: 2px;
        left: 2px;
        background-color: white;
        width: 80px;
        height: 160px;
        padding: 5px;
        border-radius: 0 0 5px 5px;
        filter: drop-shadow(5px 5px 3px #52504a);
    }

    .app-icon {
        width: 80px;
        height: 160px;
    }

    .nav-list {
        display: flex;
        justify-content: flex-end;
        
    }

    .gradebookboxes {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:space-evenly;
        flex: 20%;
        background-color: #002b49;
    }

    .gradebookboxes li {
        min-width: none;
        min-height: auto;
        flex: 1 1 22%;
        /* width: 20%; */
        /* margin: 10px 2%; */
    }
    .gradebookboxes li:last-child {
        margin-bottom: 10px;
    }
    .gradebookboxes li:nth-last-child(2) {
        margin-bottom: 10px;
    }
    .gradebookwrapper img {
        background-color: #002b49;
        width: 100%;
    }

    #ciderlistsection {
        margin-top: 60px;
    }

    #ciderlistsection ul:nth-of-type(2) {
        padding-top: calc(1.5em + 55px);
        border: magenta;
    } 
    .itemimg {
        width: 82px;
    }
    .listimg {
        padding-left: 20px;
    }
}
