@font-face {
    font-family: 'AgencyFB-BoldCondensed';
    src: url('assets/fonts/AgencyFB/AgencyFB-BoldCondensed.otf');
}
@font-face {
    font-family: 'AgencyFB-Light';
    src: url('assets/fonts/AgencyFB/AgencyFB-Light.otf');
}
@font-face {
    font-family: 'AgencyFB-Regular';
    src: url('assets/fonts/AgencyFB/AgencyFB-Regular.otf');
}
@font-face {
    font-family: 'AgencyFB-Black';
    src: url('assets/fonts/AgencyFB/AgencyFB-Black.otf');
}
@font-face {
    font-family: 'RomanAntique';
    src: url('assets/fonts/roman_antique/RomanAntique.ttf');
}


/* * {
    border: pink solid 1px;
} */

.hide {
    display: none;
}

body {
    width: 100%;
}

a {
    text-decoration: none;
}
/* a:hover {
    text-decoration: underline;
} */
a:visited {
    text-decoration: none;
    color: #F1C400;
}

/* HEADER */
header {
    width: 100%;
    height: calc(66.75vw + 37px);
    position: relative;
    margin-top: 55px;
}
.hero-overlay {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    text-transform: uppercase;
    font-family: 'RomanAntique';
}
.hero-overlay h1 {
    width: 100%;
    background: linear-gradient( rgba(0, 43, 73, 1), rgba(0, 43, 73, .8), rgba(0, 43, 73, 0));
    color: #F1C400;
    font-size: 1em;
    line-height: 2.5em;
}
.hero-overlay h2 {
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #002b49;
    color: #F1C400;
    font-size: .8em;
    line-height: 2.5em;
}

.hero-img {
    display: block;
    position: fixed;
    top: 55px;
    margin:  auto;
    z-index: -1;
    width: 100%;
    height: auto;
}

/* NAV BAR */
nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 55px;
    background-color: #002b49;
    z-index: 3;
}

.menu-icon-wrapper {
    width: 55px;
    height: 55px;
    /* background-image: url('./assets/imgs/menu.svg');
    background-repeat: no-repeat;
    background-size: cover; */
}

.menu-icon {
    width: 40px;
    height: 40px;
    margin: 7px 15px 0 15px;
    /* margin-left: 15px; */
}

.app-icon-wrapper {
    width: 55px;
    height: 55px;
    position: fixed;
    top: 0px;
    left: calc(50% - 27.5px);
}
.app-icon {
    width: 55px;
    height: 55px;
}

.nav-list {
    width: 75%;
    height: fit-content;
    max-height: calc(100vh - 40px);
    background-color: #D6D2C4;
    color: #002b49;
    font-family: 'AgencyFB-BoldCondensed';
    font-size: 1.5em;
    overflow: scroll;
}

.nav-item :any-link {
    color: #002b49;
}

.nav-item ul {
    margin-left: 10vw;
    overflow: scroll;
}

/* MAIN PAGE */

#gradebooksection {
    width: 100%;
}

.gradebooksection h2 {
    width: 100%;
    font-size: 1.2em;
    line-height: 2.1em;
    background-color: #002b49;
    color: #F1C400;
    text-transform: uppercase;
    font-family: 'RomanAntique';
    text-align: center;
}

.gradebookboxes {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #002b49;
}

.gradebookboxes li {
    min-width: 300px;
    min-height: 200px;
    margin: 10px 0;
    background-color: #002b49;
}

.gradebookboxes li:last-child {
    margin-bottom: 20px;
}

.gradebookwrapper {
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    color: #F1C400;
    
}
.gradebookwrapper img{
    width: 96vw;
    height: 100%;
    opacity: 50%;
}
.gradebookwrapper p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5em;
    font-family: 'AgencyFB-Black';
}


/* LISTOFCIDER.ejs */
#ciderlistsection {
    padding-top: 55px;
}
#ciderlistsection:nth-child(2){
    margin-top: 49px;
}

.listheader, .listofciders {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-align: right;
    margin: 0;
    padding: 4px 0;
    font-family: 'AgencyFB-Regular';
    background-color: #F1F1F1;
    border-bottom: solid 1px #EDAB00;
}
.listheader {
    position: fixed;
    top: 55px;
    background-color: #F1F1F1;
    font-family: 'AgencyFB-BoldCondensed';

}
/* *********ALTERNATING COLOR PER CIDER************ */

.listofciders {
    background-color: #cce2ee;
    border-bottom: solid 1px #fff;
}
.listofciders:nth-child(odd) {
    background-color: #d6d2c4;
}

.itemimg {
    min-width: 60px;
}
.listimg {
    max-width: 60px;
    max-height: 60px;
    padding-right: 2px;
}
.itemname{
    width: 5em;
    border-left: 1px solid #EDAB00;
}
.itemciderhouse{
    width: 6em;
    text-align: center;
}
.itemlocation{
    width: 7em;
    white-space: nowrap;
    overflow: hidden;
    text-align: right;
    text-overflow: ellipsis;
}
.itemgrade{
    width: 2em;
    border-left: 1px solid #EDAB00;
}
.itemabv{
    width: 2em;

}

/* CIDERDETAIL.ejs */

.cider-detail-topsection {
    padding-top: 55px;
    background-color: #002b49;
}

.cider-detail-topinfo {
    padding: 10px 0;
    font-family: 'AgencyFB-BoldCondensed';
    color: #F1C400;
}
.glassimage {
    width: 100%;
    height: auto;
}
.cider-detail-topinfo h2 {
    font-size: 2em;
    padding-left: 15px;
}
.cider-detail-topinfo p {
    font-size: 1.3em;
    padding-left: 15px;
}
.cider-detail-midinfo {
    background-color: #CCE2EE;
    color: #002b49;
    font-family: 'AgencyFB-BoldCondensed';
    font-size: 1.3em;
    padding-left: 10px;
}
.cider-detail-midinfo li{
    padding: 10px 0;
}
.cider-detail-feedback {
    padding: 10px 0;
    background-color: #002b49;
    /* padding-left: 15px; */
    font-family: 'AgencyFB-BoldCondensed';
    color: #F1C400;
}
.cider-detail-feedback h3 {
    padding: 5px 0;
    text-align: center;
    font-size: 2em;

}
.cider-detail-feedback p {
    font-size: 1.3em;
    padding: 10px 15px;
    font-family: 'RomanAntique';
}
.cider-detail-description {
    padding: 15px 0;
    background-color: #D6D2C4;
    color: #002b49;
    font-family: 'AgencyFB-BoldCondensed';
    width: 100%;
    text-align: center;
}
.cider-detail-description h3 {
    font-size: 2em;
}
.cider-detail-description p {
    padding: 5px 0;
    font-size: 1.3em;
}
.cider-detail-description img{
    width: 55%;
    height: auto;
    margin: 0 auto;
}


/* GRADEBOOK PAGES */

.gradebook-page-header {
    padding-top: 55px;
    width: 100%;
    height: 15vh;
    background-color: #002b49;
    background-size: cover;
    background-position: center;
}

.gradebook-page-header h1{
    font-size: 2em;
    line-height: 15vh;
    text-align: right;
    font-family: 'RomanAntique';
    color: #F1C400;
    padding-right: 5vw;
    background-color: rgba(0, 43, 73, .4);
}

.gradebook-page-list {
    background-color: #D6D2C4;
    font-family: 'AgencyFB-BoldCondensed';
    font-size: 1.5em;
    padding: 10px 0 10px 8vw;
}
.gradebook-page-list :any-link{
    color: #002b49;
}
.gradebook-page-list li {
    padding-top: 5px;
}

.gradebook-page-blurb {
    background-color: #002b49;
    color: #F1C400;
    font-family: 'AgencyFB-BoldCondensed';
    font-size: 1.5em;
    padding: 15px 5vw;
}

/* STYLE.ejs*/
.by-style {
    background-image: url('./assets/imgs/My\ Bag_edited_4x3.jpg');
}
/* GRADES.ejs */
.by-grade {
    background-image: url('./assets/imgs/100_4384_edited_4x3.jpg');
}
/* MOODS.ejs */
.by-mood {
    background-image: url('./assets/imgs/Trinity_Lonsdale-edit_4x3.jpg');
}
/* ALLHOUSES.ejs */
.by-ciderhouse {
    background-image: url('./assets/imgs/Pitt\ B_edited_4x3.jpg');
}
/* COMPLITS.ejs */
.complits {
    background-image: url('./assets/imgs/Vinetum Britannicum Cam_edited_4x3.jpg');
}
.complits h1 {
    font-size: 1.7em;
    line-height: 1.7em;
}

/* ABOUT.ejs */
.about-prof {
    background-image: url('./assets/imgs/Close_up_book_edited.jpg');
}


/* PHILOSOPHY */
.philosophy-blurb {
    padding: 70px 5vw;
    width: 100%;
    background-color: #002b49;
    color: #F1C400;
    font-family: 'AgencyFB-BoldCondensed';
    font-size: 1.5em;
}
.grading-scale {
    background-color: #D6D2C4;
    color: #EDAB00;
    font-family: 'AgencyFB-BoldCondensed';
    font-size: 1.8em;
}
.grading-scale h4 {
    width: 100%;
    padding: 5px 0;
    text-align: center;
    font-size: 1.8em;    
}
.grading-scale-list {
    color: #002b49;
    padding-left: 20px;


}
.grading-scale-list li:nth-last-child(2)::before {
    content: "\2022";
  color: #EDAB00; 
  font-weight: bold; 
  display: inline-block;
}

/* COMPLITESSAY.ejs */
.complit-header {
    padding-top: 55px;
    padding-bottom: 2vh;
    width: 100%;
    height: fit-content;
    background-color: #002b49;
    font-family: 'AgencyFB-BoldCondensed';
}
.complit-header h1 {
    width: 100%;
    font-size: 2em;
    line-height: 2em;
    text-align: center;
    color: #F1C400;
}
.complit-ciders-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.5em;
    height: fit-content;
    color: #CCE2EE;
}
.complit-ciders-list li {
    height: fit-content;
    text-align: center;
}
.winner {
    color: #F1C400;
}
.complit-essay {
    background-color: #002b49;
    color: #F1C400;
    padding-bottom: 10px;
}
.complit-image {
    width: 100vw;
    height: 40vh;
}
.complit-essay h3, .complit-info-section h3{
    width: 100%;
    padding: 5px 0;
    font-family: 'AgencyFB-BoldCondensed';
    font-size: 2em;
    text-align: center;
}
.complit-essay p {
    font-family: 'RomanAntique';
    padding: 5px 10px;
}
.complit-info-section {
    padding-top: 10px;
    background-color: #D6D2C4;
    color: #002b49;
    font-family: 'AgencyFB-BoldCondensed';

}
.complit-info-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.complit-info-list li {
    width: 30%;
    padding: 5px 0;
}
.complit-info-section h3{ 
    color: #F1C400;
    margin-top: 20px;
}
.complit-info-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 5px;
    padding-bottom: 10px;
}
.complit-info-links li {
    width: 30%;
    font-family: 'RomanAntique';
}
.complit-info-links :any-link {
    color: #002b49;
}

/* ABOUT.ejs */
.about-prof-blurb :any-link{
    color: #CCE2EE;
}
.about-prof-blurb p {
    padding: 10px 0;
}
.about-links {
    padding: 15px 0;
    background-color: #CCE2EE;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}   
.aca-logo img{
    width: 150px;
    height: auto;
}
.ccp-logo img{
    width: 50px;
    height: auto;
}
.website-credit {
    display: flex;
    justify-content: center;
    padding-right: 10px;
    padding-bottom: 15px;
    background-color: #CCE2EE;
    color: #F1C400;
    font-family: 'AgencyFB-Light';
}
.website-credit:visited {
    text-decoration: none;
    color: #F1C400;
}
.gdlogo {
    padding-left: 10px;
    width: 20px;
    height: 20px;
}

/* FOOTER */

footer {
    width: 100%;
}
#footer {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #002b49;
    padding: 0;
    padding-top: 15px;
}

#footer li {
    text-align: center;
    margin: 0 5% 0 5%;
    color: #F1C400;
    font-family: 'RomanAntique';
    padding-bottom: 5px;
}
#footer li:any-link {
    color: #F1C400;
}

.instalogo, .emailogo {
    padding-top: 5px;
    width: 30px;
    height: 30px;
}

.contact-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    font-size: 30px;
}



@media screen and (min-width: 500px) and (min-height: 500px) {
    .gradebooksection {
        /* background-color: white; */
        background-color: #F1F1F1;
    }
    .gradebooksection h2{
        background-color: #F1F1F1;
        color: #002b49;
        font-family: 'AgencyFB-Black';
        font-size: 2.2em;
    }
    .gradebookboxes {
        background-color: #F1F1F1;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;

    }
    .gradebookboxes li:nth-last-child(2) {
        margin-bottom: 20px;
    }
    .gradebookwrapper img{
        width: 98vw;
        max-width: 350px;
    }
    
    .complits h1 {
        font-size: 2em;
        line-height: 15vh;
        }
}

@media screen and (min-width: 780px) and (min-height: 500px) {
    /* HEADER */ 
    header {
        width: 100%;
        height: calc(72vw - 2em);
        /* height: 74vw; */
        position: relative;
        /* margin-top: 60px; */
    }

    .hero-overlay {
        top: 0px;
    }
    
    .hero-img {
        position: fixed;
        top: 60px;
    }
    .hero-overlay h1 {
        height: 2.5em;
        font-size: 2em;
        line-height: 2.5em;
        /* padding-top: 20px; */
    }

    .hero-overlay h2 {
        height: 2em;
        font-size: 1.8em;
        line-height: 2em;
    }

        /* NAV BAR */
    #cideries {
        display: none;
    }

    .menu-icon-wrapper{
        display: none;
    }

    ul {
        list-style: none;
    }

    nav {
        height: 3em;
    }


    .nav-list {
        display: flex;
        justify-content: space-evenly;
        background-color: #002b49;
        width: 100%;
        color: #F1C400;
        font-size: 1.5em;
        line-height: 2em;
        /* height: 2em; */
        height: fit-content;
        overflow: hidden;
        padding: 0;
        margin: 0;
    }
    .nav-item :any-link {
        color: #F1C400;
    }

    .nav-item {
        text-align: center;
        width: 22%;
    }
    
    .nav-item li {
        text-align: left;
        background-color: #d6d2c4;
        color: #002b49;
    }

    #gradebook:hover {
        cursor: pointer;
    }

    #app-icon-placeholder {
        width: 80px;
    }

    .app-icon-wrapper {
        top: 0px;
        left: calc(50% - 40px);
    }

    .app-icon {
        width: 80px;
        height: 80px;
    }

    /* NAV-DROPDOWNS */
    .gradebook {
        position: fixed;
        top: 2em;
        width: fit-content;
        height: fit-content;
        max-height: 60vh;
        overflow: scroll;
        margin: 0px;
        border-radius: 0 15px 15px 5px;
        filter: drop-shadow(7px 7px 3px #52504a);

        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    .gradebook::-webkit-scrollbar {
        display: none;
    }
    .gradebook a:any-link {
        color: #002b49;
    }
    .gradebook li {
        padding: 0 10px;
    }
    #style {
        height: fit-content;
        overflow: hidden;
    }
    #style ul {
        overflow: hidden;
        width: fit-content;
    }
    #mood {
        height: fit-content;
        overflow: hidden;
    }
    #mood ul {
        height: fit-content;
        overflow: hidden;
    }
    #geography {
        height: fit-content;
        overflow: hidden;
    }
    #geography ul {
        height: fit-content;
        overflow: hidden;
    }

    #complit:hover {
        cursor: pointer;
    }
    .complit {
        position: fixed;
        top: 2em;
        width: fit-content;
        height: fit-content;
        max-height: 60vh;
        overflow: scroll;
        margin: 0px;
        border-radius: 0 15px 15px 5px;
        filter: drop-shadow(7px 7px 3px #52504a);

        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    .complit::-webkit-scrollbar {
        display: none;
    }
    .complit a:any-link {
        color: #002b49;
    }
    .complit li {
        padding: 0 10px;
    }
    #litstyle {
        height: fit-content;
        overflow: hidden;
    }
    #theme {
        height: fit-content;
        overflow: hidden;
    }

    /* .gradebookboxes {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .gradebookboxes li:nth-last-child(2) {
        margin-bottom: 20px;
    }
    /* .gradebookwrapper img{
        width: 98vw;
        max-width: 350px;
    } */ 
    #ciderlistsection {
        margin-top: calc(78px + 1.5em);
        padding-top: 0;
    }


    .listheader {
        position: fixed;
        top: 60px;
        height: 1.5em;
        font-size: 1.3em;
        line-height: 1.5em;
        border-bottom: solid 1px #EDAB00;
    }
    .listheader li {
        border: none;
        
    }
    /* #ciderlistsection:nth-child(2) {
        padding-top: 1.5em;
    } */
    .itemname{
        text-align: left;
        padding-left: 5px;
    }


}


@media screen and (min-width: 1020px) {

    /* .hero-overlay {
        position: absolute;
        z-index: 0;
        width: 100%;
        height: 98%;
        text-align: center;
        text-transform: uppercase;
        font-family: 'RomanAntique';
    } */
    /* .hero-overlay h2 {
        width: 100%;
        position: absolute;
        bottom: 0;
        background-color: #002b49;
        color: #F1C400;
        font-size: 2em;
        line-height: 2.5em;
    } */
    .hero-img {
    }

    .gradebookboxes {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:space-evenly;
        flex: 20%;
        background-color: #002b49;
    }

    .gradebookboxes li {
        min-width: none;
        min-height: auto;
        flex: 1 1 22%;
        /* width: 20%; */
        /* margin: 10px 2%; */
    }
    .gradebookboxes li:last-child {
        margin-bottom: 10px;
    }
    .gradebookboxes li:nth-last-child(2) {
        margin-bottom: 10px;
    }
    .gradebookwrapper img {
        background-color: #002b49;
        width: 100%;
    }
}
