<section>
    <h1>BY GRADE</h1>
</section>
<section>
    <ul>
        <% for(var k in ciderGrades) { %>            
                <li><a href="/grade/<%=ciderGrades[k]%>"><%=ciderGrades[k]%></a></li>
        <%};%>
    </ul>
</section>