<section>
    <p>I'm baby sriracha brooklyn microdosing 8-bit waistcoat, YOLO flannel. Meggings organic next level, fashion axe bushwick slow-carb VHS irony mumblecore XOXO. Polaroid DIY shaman, fam four dollar toast swag biodiesel post-ironic aesthetic farm-to-table shabby chic deep v fanny pack edison bulb PBR&B. Hella 3 wolf moon mustache taiyaki tofu brunch ugh. Irony cray selfies selvage dreamcatcher hot chicken. Tumblr hexagon yr food truck craft beer farm-to-table godard man bun tumeric salvia schlitz taxidermy fanny pack. Mlkshk tofu single-origin coffee leggings roof party poke kombucha.

    Vexillologist semiotics poke vegan stumptown microdosing readymade craft beer. Four loko tousled chicharrones post-ironic hot chicken. Blog fashion axe master cleanse intelligentsia locavore. Blog whatever tattooed, distillery sustainable heirloom messenger bag snackwave banjo hoodie franzen occupy. Blog activated charcoal beard, pickled man bun vegan poke small batch. Jean shorts air plant stumptown offal hashtag, shaman tbh palo santo brooklyn kitsch waistcoat street art hoodie before they sold out. Polaroid forage venmo, intelligentsia salvia offal meggings typewriter.</p>
    <ul>
        <li>
            <ul>
                <li>A 95-100</li>
                <li>Lorem ipsum dolor sit amet</li>
            </ul>
        </li>
        <li>
            <ul>
                <li>A 92.5-94.5</li>
                <li>Lorem ipsum dolor sit amet</li>
            </ul>
        </li>
        <li>
            <ul>
                <li>A- 90-92</li>
                <li>Lorem ipsum dolor sit amet</li>
            </ul>
        </li>
        <li>
            <ul>
                <li>B+ 87.5-89.5</li>
                <li>Lorem ipsum dolor sit amet</li>
            </ul>
        </li>
        <li>
            <ul>
                <li>B 85-87</li>
                <li>Lorem ipsum dolor sit amet</li>
            </ul>
        </li>
        <li>
            <ul>
                <li>B 82.5-84.5</li>
                <li>Lorem ipsum dolor sit amet</li>
            </ul>
        </li>
        <li>
            <ul>
                <li>B- 80-82</li>
                <li>Lorem ipsum dolor sit amet</li>
            </ul>
        </li>
        <li>
            <ul>
                <li>C+ 77.5-79.5</li>
                <li>Lorem ipsum dolor sit amet</li>
            </ul>
        </li>
        <li>
            <ul>
                <li>C 72.5-77</li>
                <li>Lorem ipsum dolor sit amet</li>
            </ul>
        </li>
        <li>
            <ul>
                <li>C- 70-72</li>
                <li>Lorem ipsum dolor sit amet</li>
            </ul>
        </li>
        <li>
            <ul>
                <li>D +/- 60-69.5</li>
                <li>Lorem ipsum dolor sit amet</li>
            </ul>
        </li>
        <li>
            <ul>
                <li>F >59.5</li>
                <li>Lorem ipsum dolor sit amet</li>
            </ul>
        </li>
    </ul>
</section>