<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cider Professor</title>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="../app.js"></script>
    <link rel="stylesheet" href="../reset.css" />
    <link rel="stylesheet" href="../style.css" />
</head>
<body>
    <%- include('../layouts/NavBar') %> 
    <section class="gradebook-page-header by-style">
        <h1>BY STYLE</h1>
    </section>
    <section class="gradebook-page-list">
        <ul>
            <% for(var k in Object.keys(ciderStyles)) { %>
                <ul>
                    <!-- a tag that sends object.keys[k] to /splash -->
                    <li><a href="/splash/<%=Object.keys(ciderStyles)[k]%>"><%=Object.keys(ciderStyles)[k]%></a></li>
                </ul>
            <%};%>
    </section>
    <section class="gradebook-page-blurb">
        <p>Fermented apple beverages, or cider, have been made for at least 2000 years and over that time many variations of the drink have been created through various fermentation and bottling techniques, the use of different apple varietals and the infusion of numerous flavorings. New cider drinkers are often surprised at how different various ciders can taste. Therefore, I have come up with my own classification system to help categorize and make sense of the vast number of cider styles and varieties out there. (When possible, I ascribe to the <a href="https://ciderassociation.org/cider-lexicon-project/" target="_blank">American Cider Association’s standardized lexicon</a>)  
        </p>
    </section>
    <%- include('../layouts/Footer') %>
</body>
</html>
