<section>
    <h1>BY STYLE</h1>
</section>
<section>
    <ul>
        <% for(var k in Object.keys(ciderStyles)) { %>            
                <li><%=Object.keys(ciderStyles)[k]%></li>
        <%};%>
    </ul>
</section>