<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cider Professor</title>
    <link rel="shortcut icon" type="image/jpg" href="./assets/imgs/favicon.png"/>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="../app.js"></script>
    <link rel="stylesheet" href="../reset.css" />
    <link rel="stylesheet" href="../style.css" />
</head>
<body>
    <%- include('../layouts/NavBar') %>
    <section class="gradebook-page-header complits">
        <h1>COMPARATIVE LITURATURE ESSAYS</h1>
    </section> 
    <section class="gradebook-page-blurb">
        <p>One of the great scholarly tools at the professor’s disposal is comparative analysis. How can someone know how good something really is if they have nothing to compare it to? In today’s cider market we have more choices than ever, so these reviews will help you figure out how to choose when there are similar options within a single style or within a geographic location. These reviews are side-by-side taste tests of two, three, or four ciders paired by either style or theme. Most essays have three parts. In the introduction I explain if the ciders share a unique cider making technique, or if they are right for a special occasion, or will tie ciders together historically, geographically, or according to my own weird logic. I will then give my reader a breakdown of the similarities and differences between the drinks—glass appeal, aroma, sweetness, acidity, flavor, mouthfeel, etc.—followed by a concluding section which will declare a winner (with my reasons why), but I will also explain which cider I think the reader might fancy, given their preferences or mood</p>
    </section>
    <section>
        <ul class="gradebook-page-list">
            <% complits.forEach(lit => { %>
                <a href="/complits/<%= lit.ID %> ">
                <li> <%= lit.Title %>  </li>
                </a>
            <% }); %> 
        </ul>
    </section>
    <!-- <section class="gradebook-page-blurb">
        <p></p>
    </section> -->
    <%- include('../layouts/Footer') %>
</body>
</html>
