<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cider Professor</title>
    <link rel="shortcut icon" type="image/jpg" href="./assets/imgs/favicon.png"/>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="../app.js"></script>
    <link rel="stylesheet" href="../reset.css" />
    <link rel="stylesheet" href="../style.css" />
</head>
<body>
    <%- include('../layouts/NavBar') %>
    <section class="gradebook-page-header by-grade">
        <h1>BY GRADE</h1>
    </section>
    <section class="gradebook-page-blurb">
        <a class="blurb-link" href="/sortby/Score"><p>Just wanna know who’s at the head of the class? Click here for a list of all the individual ciders I’ve graded from highest to lowest. 
        </p></a>
    </section>
    <section>
        <ul class="gradebook-page-list">
            <% for(var k in ciderGrades) { %>            
                    <li><a href="/grade/<%=ciderGrades[k]%>"><%=ciderGrades[k]%></a></li>
            <%};%>
        </ul>
    </section>
    <%- include('../layouts/Footer') %>
</body>
</html>
