<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Cider Professor</title>
    <link rel="shortcut icon" type="image/jpg" href="./assets/imgs/favicon.png"/>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="../app.js"></script>
    <link rel="stylesheet" href="../reset.css" />
    <link rel="stylesheet" href="../style.css" />
</head>
<body>
    <header>
        <div class="hero-overlay">
            <div class="main-logo-container">
                <img src="./assets/imgs/main-logo.webp">
            </div>
        </div>
        <img src="https://bn1303files.storage.live.com/y4mDpM53im6t6OwVk-LCdfLmBx8cSA5taapGtFZiFbFgd8NfUFAhtddO1nCYGRwz33bhR0zjFhU_IUH5VGJm9ymCeEnSq12OOJffIyn08_XpovFOTFV0_ZdtZ6lf0JxkXPjUZMug6at2FZOmqYYvWilainrhtvyCCMaTvIxAD78eiNxk__HPLIAOwxesNKOxlAB?width=1600&height=1067&cropmode=none" class="hero-img" >
    </header>
    <%- include('../layouts/NavBar') %>   
    <%- include('../layouts/Gradebook')  %> 
    <%- include('../layouts/Footer') %>
</body>
</html>