<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cider Professor Map</title>
    <link rel="shortcut icon" type="image/jpg" href="./assets/imgs/favicon.png"/>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="../jquery.vmap.js"></script>
    <script type="text/javascript" src="../maps/jquery.vmap.usa.js" charset="utf-8"></script>
    <script src="../app.js"></script>
    <link rel="stylesheet" href="../reset.css" />
    <link rel="stylesheet" href="../style.css" />
    <link rel="stylesheet" href="../jqvmap.css" />
</head>
<body>
    <%- include('../layouts/NavBar') %>
    <section class="gradebook-page-header by-geography">
        <h1>MAP</h1>
    </section>
    <section class="gradebook-page-blurb">
        <p>Select a state to see ciders</p>
    </section>
    <section>
        <div id="vmap" style="width: 90vw; height: 68vh; margin: 0 auto;"></div>
    </section>
    <%- include('../layouts/Footer') %>
</body>
</html>