<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cider Professor's Philosophy</title>
    <link rel="shortcut icon" type="image/jpg" href="./assets/imgs/favicon.png"/>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="../app.js"></script>
    
    <link rel="stylesheet" href="../reset.css" />
    <link rel="stylesheet" href="../style.css" />
</head>
<body>
    <%- include('../layouts/NavBar') %> 
    <section class="philosophy-blurb">
        <p>In evaluating a cider, I try to first describe how it looks and smells, which are important parts of the cider drinking experience. Then I give my first impression after taking my first sip. I follow this up by explaining the more objective elements like flavor, (most ciders have three phases of taste) mouthfeel, body, and where it lands on the sweet-dry scale. This is sometimes followed up with my more subjective impressions of the drink followed by my overall recommendation</p>
        <p>Some might take umbrage with the fact that some mass-produced semi-sweet ciders (sometimes known as draft ciders) have grades as high or higher than some truly well-crafted and lovingly cultivated ciders that are clearly superior and more sophisticated. I explain this in two ways: First, I judge it on the level it is at. For instance, I grade a fifty-page senior seminar thesis much more meticulously and rigorously than I do a four-page essay for an intro course. The reason for this is that the expectations for earning an <strong>A</strong> in a first-year course are lower than in upper-level courses. Second, while I appreciate and am somewhat sympathetic with those on a mission to promote only “real” or “natural” ciders, I am not so snobby that I can’t enjoy some of the qualities of the innovators, tinkerers or mass producers out there. I am omnivorous when it comes to styles of cider as I find I like things about all of them. (Though when you read my reviews,you’ll see I play my cards from time to time when it comes to my favorite styles of cider)</p>
        <p>Though grading is always somewhat subjective, on my site you get one evaluator with a consistent sense of why I grade the way I do. I also take care, especially in comparative lit essays, to try and explain why someone else may or may not like the cider depending on their preferences and mood.</p>
    </section>
        
        <section class="grading-scale">
        <h4>Here is my grading scale:</h4>
        <ul class="grading-scale-list">
            <li>
                    <p>A 95-100 Truly exceptional</p>
            </li>
            <li>
                    <p>A 92.5-94.5 Not only was it excellent, but something stood out about it that impressed the Professor with something I don't see very often</p>
            </li>
            <li>
                    <p>A- 90-92 Excellent</p>
            </li>
            <li>
                    <p>B+ 87.5-89.5 Outstanding</p>
            </li>
            <li>
                    <p>B 85-87 Very Good</p>
            </li>
            <li>
                    <p>B 82.5-84.5 Solid work to be proud of</p>
            </li>
            <li>
                    <p>B- 80-82 A good cider worthy of my recommendtion, but lacking the imagination of others and not quite as interesting, or maybe one flaw</p>
            </li>
            <li>
                    <p>C+ 77.5-79.5 Not bad, good qualities, but I didn't like something about it, and probably woudlnt' recommend it</p>
            </li>
            <li>
                    <p>C 72.5-77 Meh...fine, but didn't like it</p>
            </li>
            <li>
                    <p>C- 70-72 Really didn't like it</p>
            </li>
            <li>
                    <p>D +/- 60-69.5 Bad. Multiple fatal errors</p>
            </li>
            <li>
                    <p>F >59.5 Horrible! So many things wrong I don't know where to begin</p>
            </li>
            <li>
                    <p>PIO Poured it out</p>
            </li>
        </ul>
    </section>
    <%- include('../layouts/Footer') %>
</body>
</html>
