<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Cider Professor</title>
    <!-- <link type="style" /> -->
</head>
<body>
    <header>
        <img src="https://via.placeholder.com/1220x1080">
        
    </header>
    <h1>The Cider Professor</h1>
    <h3>For the educated cider drinker.</h3>
    <%- include('layouts/Footer') %>
</body>
</html>